<p-sidebar class="p-sidebar-lg" [(visible)]="display" position="right" [fullScreen]="true" [dismissible]="false"
  [showCloseIcon]="false">
  <h2>Cesta</h2>

  <p-button class="closeButton" (click)=" close()" icon="pi pi-times">
  </p-button>

  <p-table [value]="addedProducts" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '5rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </ng-template>
  </p-table>


  <ng-template pTemplate="footer">Realizado por Felix Gomez Enriquez</ng-template>

</p-sidebar>